.body{
    display: grid;
    grid-template-columns: 30% 60% ;
    width: 100vw;
}

.body_left_section p{
    background-color: rgba(128, 128, 128, 0.441);
    width: 70%;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    
}


