.update-form {
    background-color: green;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}

.updateHeader {
    text-align: center;
    font-size: 1rem;
    color: white;
}

.update_body{
text-align: center;
}

.update_footer{
display: flex;
justify-content: space-around;
}